---
---

@import 'materialize';

// Fix fixed navbar in materializecss.
.nav-fixed {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-bottom: 0px;
    z-index: 997;
}
body {
    padding-top: 64px;
}
// End fix

body {
    @extend .grey;
    @extend .lighten-4;
}

.brand-logo img {
    margin-left: 32px;
    margin-right: 8px;
}

.card .card-title {
    @extend .red-text;
    @extend .text-darken-2;
}

.nav-wrapper, .page-footer {
    @extend .deep-purple;
    @extend .lighten-1;
}

.parallax-container {
    height: 200px;
}

footer a {
    @extend .white-text
}

// Support for sticky footer:
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
