---
---

@import 'materialize';

// Fix fixed navbar in materializecss.
.nav-fixed {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-bottom: 0px;
    z-index: 997;
}
body {
    padding-top: 64px;
}
// End fix

body {
    @extend .grey;
    @extend .darken-4;
    @extend .grey-text;
    @extend .text-lighten-1;
}

.brand-logo img {
    margin-left: 32px;
    margin-right: 8px;
}

.card {
    @extend .teal;
    @extend .darken-3;
}

.card .card-title {
    @extend .yellow-text;
    @extend .text-darken-1;
}

.nav-wrapper, .page-footer {
    @extend .teal;
    @extend .darken-3;
}

.parallax-container {
    height: 200px;
}

footer a {
    @extend .grey-text;
    @extend .text-lighten-1;
}

// Support for sticky footer:
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
