---
---

@mixin color-primary {
}

@import 'materialize';

body {
    @extend .grey;
    @extend .lighten-4;
}

.brand-logo img {
    margin-left: 32px;
    margin-right: 8px;
}

.card .card-title {
    @extend .red-text;
    @extend .text-darken-2;
}

.nav-wrapper, .page-footer {
    @extend .deep-purple;
    @extend .lighten-1;
}

.parallax-container {
    height: 200px;
}

footer a {
    @extend .white-text
}

// Support for sticky footer:
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
