# Default
*        text linguist-vendored=false

# Sources
*.c      text linguist-language=c         diff=c
*.h      text linguist-language=c         diff=c
*.cpp    text linguist-language=c++       diff=c++
*.glsl   text linguist-language=glsl      diff=glsl

# Files To Not Include
*.bat      linguist-vendored=true
*.sh       linguist-vendored=true
*.md       linguist-vendored=true
*.goxcf    linguist-vendored=true
*.ini      linguist-vendored=true
*.desktop  linguist-vendored=true
*.gpl      linguist-vendored=true
*.pov      linguist-vendored=true
Makefile   linguist-vendored=true

# Binaries, Object Files & Executables
*.lib   binary
*.o     binary
*.out   binary
*.exe   binary
*.otf   binary
*.ttf   binary
*.png   binary
*.ico   binary
*.inl   binary
