<nav class="navbar-fixed">
  <div class="nav-wrapper">
    <a href="{{site.baseurl}}/" class="brand-logo">
        <div class="valign-wrapper">
            <img class="valign left" src="{{site.baseurl}}/images/goxel.png" height="48">
            <span class="valign name">goxel</span>
        </div>
    </a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="https://github.com/guillaumechereau/goxel">View on GitHub</a></li>
      <li><a href="{{site.baseurl}}/downloads">Download</a></li>
      <li><a href="{{site.baseurl}}/screenshots">Screenshots</a></li>
    </ul>
  </div>
</nav>

<ul class="side-nav" id="mobile-demo">
    <li><a href="https://github.com/guillaumechereau/goxel">View on GitHub</a></li>
    <li><a href="{{site.baseurl}}/downloads">Download</a></li>
    <li><a href="{{site.baseurl}}/screenshots">Screenshots</a></li>
</ul>
