<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="Goxel 3D Voxel Editor.">
    <title>{{ block "title" . }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <!-- <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script> -->
  </head>


  <body>

    {{ partial "top" . }}

    <div class="container">
      <section class="section">
        <main>{{ block "main" . }}{{ end }}</main>
      </section>
    </div>

    {{ partial "footer" .}}
  </body>

</html>
