<nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item has-text-white" href="{{ .Site.baseURL }}">
      <img src="/img/logo.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu"
        aria-expanded="false" data-target="navbarGoxel">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarGoxel" class="navbar-menu">
    <div class="navbar-start">

      <a class="navbar-item has-text-white">
        Home
      </a>
      <a class="navbar-item has-text-white">
        Documentation
      </a>

    </div>
  </div>
</nav>

