<style>
  .is-transparent { background-color: transparent !important; }
</style>

<nav class="navbar is-primary is-transparent" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item has-text-white" href="{{ .Site.BaseURL }}">
      <img src="/img/logo.png" width="112" height="28"
           alt="Goxel 3D Voxel Editor">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu"
        aria-expanded="false" data-target="navbarGoxel">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarGoxel" class="navbar-menu is-transparent">
    <div class="navbar-start">

      <a class="navbar-item has-text-white" href="/">
        Home
      </a>
      <a class="navbar-item has-text-white" href="/download">
        Download
      </a>
      <a class="navbar-item has-text-white" href="/about">
        About
      </a>
      <a class="navbar-item has-text-white" href="/gallery">
        Gallery
      </a>

      <a class="navbar-item has-text-white"
         href="https://github.com/guillaumechereau/goxel">
        Github
      </a>

    </div>
  </div>
</nav>

<script>

    // Make the navbar works on mobile (code taken from Bulma website).
    document.addEventListener('DOMContentLoaded', () => {
      const $navbarBurgers = Array.prototype.slice.call(
          document.querySelectorAll('.navbar-burger'), 0);
      if ($navbarBurgers.length > 0) {
        $navbarBurgers.forEach( el => {
          el.addEventListener('click', () => {
            const target = el.dataset.target;
            const $target = document.getElementById(target);
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');
          });
        });
      }
    });

</script>
