{{ define "title"}} {{ .Site.Title}} {{end}}

{{ define "main" }}

  <div class="content">

    <div class="columns">
      <div class="column">
        <h1 class="has-text-white is-size-1">
          {{ .Params.subtitle }}
        </h1>
      </div>
      <div class="column"></div>
    </div>
    <a class="button is-link">Download</a>
    <div style="width:100%;height:6rem;"></div>

    <div class="columns is-mobile is-centered">
      <div class="column is-half">
      {{ .Content }}
      </div>
    </div>

  </div>

{{ end }}
