<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    {% if page.parallax %}
    <div class="parallax-container valign-wrapper">
      <div class="parallax">
        <img src="{{site.baseurl}}/images/{{page.parallax}}">
      </div>
      <p>{{page.parallax-text}}</p>
    </div>
    {% endif %}

    <main>
    <div class="container">
        {{ content }}
    </div>
    </main>
    {% include footer.html %}

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/js/materialize.min.js"></script>
    <script>
      $(document ).ready(function(){
        $(".button-collapse").sideNav();
        $('.parallax').parallax();
      });
    </script>
  </body>


</html>
