[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Goxel++
GenericName=Voxel graphics editor
Comment=3D Voxel Editor
Exec=Goxel++
Icon=Goxel++
Type=Application
Categories=Graphics;3DGraphics;
StartupNotify=true
