[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Goxel2
GenericName=Voxel graphics editor
Comment=A 3D Voxel Art Editor
Exec=goxel2
Icon=${SNAP}/icon.png
Type=Application
Categories=Graphics;3DGraphics;
