pkgbase = goxel2-git
	pkgdesc = a cross-platform 3d voxel art editor
	pkgver = 0.11.1
	pkgrel = 1
	url = https://pegvin.github.io/goxel2
	arch = i686
	arch = x86_64
	license = GPL3
	makedepends = git
	makedepends = make
	makedepends = tar
	makedepends = curl
	makedepends = scons
	makedepends = pkg-config
	depends = glfw
	depends = gtk3
	provides = goxel2
	conflicts = goxel2

pkgname = goxel2-git
