name: nightly
on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  windows_x86_64:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          update: true
          install: mingw-w64-x86_64-gcc mingw-w64-x86_64-glfw mingw-w64-x86_64-libtre-git mingw-w64-x86_64-libpng scons make git

      - name: Build Goxel
        run: |
          scons -j 4 werror=false mode=release

      - name: Upload Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: win_x86_64_binary
          path: goxel.exe
          if-no-files-found: error

  windows_i686:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          update: true
          install: mingw-w64-i686-gcc mingw-w64-i686-glfw mingw-w64-i686-libtre-git mingw-w64-i686-libpng scons make

      - name: Build Goxel
        run: |
          export PATH=/mingw32/bin/:$PATH
          scons -j 4 werror=false mode=release

      - name: Upload Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: win_i686_binary
          path: goxel.exe
          if-no-files-found: error

  linux_x86_64:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: Install GLFW3, PKG Config, Git, Gtk3, LibPNG & SCONS
      run: |
        sudo apt-get install libglfw3-dev pkg-config git libgtk-3-dev libpng-dev libpng16-16 scons

    - name: Build Goxel
      run: |
        scons -j 4 werror=false mode=release

    - name: Upload Artifacts
      uses: actions/upload-artifact@v2
      with:
        name: linux_x86_64_binary
        path: goxel
        if-no-files-found: error

  osx_x86_64:
    runs-on: macos-11
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: Install scons, glfw3 & tre
      run: brew install scons glfw tre

    - name: Build
      run: |
        scons -j 4 werror=false mode=release

    - name: List
      run: |
        ls
        echo "---------------"
        ls osx/goxel/
        echo "---------------"
        ls osx/goxel/goxel/
        echo "---------------"
        ls osx/goxel/goxel.xcodeproj

    - name: Upload Artifacts
      uses: actions/upload-artifact@v2
      with:
        name: osx_binary
        path: ./goxel2-osx.zip
        if-no-files-found: error

  Success:
    needs: [linux_x86_64, osx_x86_64, windows_x86_64, windows_i686]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
